services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres_container
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: actividad_db
    ports:
      - "5433:5432"
    volumes:
      - ./db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d actividad_db"]
      interval: 10s
      timeout: 5s
      retries: 5
      
  nextjs:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: nextjs_container
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
volumes:
  postgres_data: